<form action="/admin/cadastro" method="POST">
    <br>
    <label for="Nome">Nome: </label>
        <input type="text" name="Nome">
    <label for="Idade">Idade: </label>
        <input type="text" name="Idade" >
    <button type="submit">Cadastrar</button>
    <hr>
</form>